.main-header {
    width: 100%;
    position: absolute;
    padding-top: 20px;
    background-color: transparent;

    z-index: 10;
}

.main-header__wrapper {
    position: relative;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;

}

@media (min-width: $desktop-width) {
    .main-header__wrapper {
        display: flex;
        // justify-content: space-between;
        align-items: center;
    }
}
 
@media (min-width: $desktop-width) {
    .main-header {
        padding: 40px 0;
    }
} 

