.main-menu {
    position: absolute;
    top: 11px;
    right: 0;
    width: 30%;
}

.main-menu__list {
    @include reset-list;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.main-menu__link {
    cursor: pointer;
    
  
}

.main-menu__button {
    padding: 0;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (min-width: $tablet-width) {
    .main-menu {
        width: 120px;
    }
}

@media (min-width: $desktop-width) {
    .main-menu {
        position: static;
        margin-left: auto;
        width: 160px;
    }

    .main-menu__list {
        justify-content: space-between;
    }

    .main-menu__link {
        margin-left: 25px;    
    }

    .main-menu__button--toggle {
        display: none;
    }
}